*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
body{
  margin:0;
  padding:0;
  background: #ebebeb;
  background-size:150% auto;
  color:#333;
  font-family: Helvetica,Arial,Geneva,sans-serif;
  line-height:1.4;
}

header{
  padding:.0;
  background:#346094;
  color:#fff;
  text-shadow:1px 1px 0 rgba(0,0,0,.4);
  border-top:1px solid transparent;
  border-bottom:1px solid transparent;
  position:relative;
  z-index:40;
}
header h1{
  color:#fff;
  font-size:1.25rem;
  font-weight:bold;
  margin:.75rem 0;
  padding-right:60px;
}
footer{
  border-top:1px solid #6e8eb1;
  background:rgba(255,255,255,.7);
  line-height:0;
  padding:.75rem .5rem;
  position:relative;
  z-index:40;
}
.page-content{
  background:#fff;
  margin:.375rem .375rem .5rem;
  padding:1px .625rem;
}
header a{
  color:#fff;
}
.page-content a{
  color:#346094;
  text-decoration:underline;
}
h1{
  font-size:1.5rem;
  font-weight:normal;
  line-height:1.2;
  margin:1.5rem 0 1rem;
  color:#346094;
  text-align:center;
}
h2{
  font-size:1.125rem;
}
h3{
  font-size:1rem;
  margin:.5rem 0;
}
h4{
  font-size:1rem;
  font-weight:normal;
}
ul {
  list-style-type: none;
}
/*.menu-link{
  display: inline-block;
  float: left;
  width: 60px;
  height: 49px;
  padding: 49px 0 0 60px;
  overflow: hidden;
  background: url(../img/menu.svg) no-repeat center 7px #346094;
  background-size:50%;
  border-right: 1px solid #ccd7e4;
  transition: background-color .3s ease-in-out;
}*/
/* active nav */
/*.menu-link.active{
  background: url(../img/menu.svg) no-repeat center 7px #2c4a6f;
  background-size:50%;
}*/
#content-wrap{
  position:relative;
  -webkit-flex: 1;
  flex: 1;
  overflow-y:auto;
  overflow-x:hidden;
}
#content-wrap.active:before{
  content:"";
  position:absolute;
  display:block;
  width:100%;
  height:100%;
  background:rgba(0,0,0,.6);
  z-index:10;
  transition: background .3s ease-in-out;
}
main{
  position:relative;
  left:0;
}
main, nav{
  transition: left .3s ease-in-out;
}
.active nav{
  left:0;
}
.active main{
  left:75%;
}
/* end active nav */
nav {
  border-top:1px solid #6c7e94;
  background:#2c4a6f;
  color:#fff;
  width:75%;
  left:-75%;
  position:absolute;
  z-index:40;
  height:100%;
}
nav ul{
  margin: 0;
  padding: .25rem 1rem;
  font-size: .875rem;
  text-shadow: 1px 1px 0 rgba(0,0,0, .7);
}
nav li{
  display: block;
  border-bottom: 1px solid #6c7e94;
}
nav li:last-child{
  border-bottom:0;
}
nav li div{
  line-height:2.75rem;
  padding-left:1.5rem;
}
#menu-home{background: url(../img/home.svg) 0 13px no-repeat;background-size:16px auto;}
#menu-feed{background: url(../img/twitter.svg) 0 13px no-repeat;background-size:16px auto;}
#menu-terms{background: url(../img/info.svg) 0 13px no-repeat;background-size:16px auto;}
#multco-us{background: url(../img/sphere.svg) 0 13px no-repeat;background-size:16px auto;}
#menu-settings{background: url(../img/cog.svg) 0 13px no-repeat;background-size:16px auto;}


#hawthorne-page, #morrison-page, #burnside-page, #broadway-page, #feed-page, #arrow-button, #settings-page, #terms-page {
  display: none;
}



.bridge-list-item {
  margin: .25rem .375rem;
  background: url(../img/angle-right.svg) no-repeat 99% center #fff;
  background-size: auto 65%;
  border-radius: 31.5px 0px 0px 31.5px;
  text-align: left;
  max-height: 60px;
  border:1px solid #dad9d7;
  box-shadow:1px 1px 0 0 rgba(70,56,34,.2);
  position:relative;
}
.bridge-list-item p{
  position: absolute;
  top: 50%;
  left:3.75rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  margin:0 0 0 .125rem;
  font-size:1.25rem;
  line-height:1.2;
  color:#346094;
}
.bridge-next{
  display:block;
  font-size:.75rem;
  color:#333;
}

.bridge-switch{
  border-bottom: 1px solid #eee;
  padding:.75rem .75rem .75rem 0;
}
.bridge-switch h4, .switch{
  display:inline-block;
  margin:0;
  line-height:1;
}
.switch{
  float:right;
}

.page-content img{
  width:100%;
}
.bridge-lifts{
  font-size:.875rem;
  margin:.5rem 0 1rem;
  padding:0;
}
.bridge-lifts li{
  padding:.3125rem .25rem;
}
.bridge-lifts li:nth-child(2n+1){
  background: #eaeff4;
}

.logo{
  width:108px;
  height:32px;
}

.site-wrap {
  min-height: 100%;
  margin-bottom: -57px;
  background: url(../img/water.jpg) no-repeat center bottom;
  width: 100%;
  height: 100%;
  overflow:hidden;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
}
.site-wrap:after {
  content: "";
  display: block;
  height: 57px;
}
.button a, button{
  background:#346094;
  display:block;
  text-align:center;
  color:#fff;
  text-decoration:none;
  padding:.5rem .25rem .625rem;
  text-shadow:1px 1px 0 rgba(0,0,0,.5);
}
.button a:after{
  content: " ";
  line-height:1;
  width:20px;
  height:20px;
  background:url(../img/arrow-right.svg) no-repeat top left;
  background-size:20px;
  display:inline-block;
  position:relative;
  top:.25rem;
  left:.25rem;
}
button{
  border:0;
  font-size:1rem;
  width:100%;
  margin:1rem 0;
  padding:.8125rem .25rem;
}

#toast-container{
    margin:.375rem;
    padding:.625rem .625rem .625rem 3.25rem;
    background:url(../img/antenna.svg) no-repeat .75rem .5rem #fffecb;
    background-size:1.5rem;
    color: #834400;
    /*border-left:5px solid #ff9421;*/
}
#toast-container p, .notification p{
  margin:0;
}
.notification{
  margin:0;
  padding:.625rem 1rem .625rem 2.5rem;
  position:absolute;
  left:50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top:-47px;
  white-space:nowrap;
}
.status-notification{
  background:url(../img/check.svg) no-repeat .75rem .625rem #d6ffcb;
  background-size:1.25rem;
  color:#1a7000;
  border-left:5px solid #1a7000;
}
.error-notification{
  background:url(../img/error.svg) no-repeat .75rem .625rem #ffdddd;
  background-size:1.25rem;
  color:#c70000;
  border-left:5px solid #c70000;
}
.settings-submit{
  position:relative;
}


/* LED styling */

.led {
  margin:.1875rem;
  display: block;
  float:left;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.25);
  font-size: 11px;
  color: white;
  line-height: 50px;
  font-weight:bold;
  letter-spacing:.5px;
  text-align:center;
}

.led-red {
  background: url(../img/arrow-up.svg) no-repeat center bottom #c62828;
  background-size: 90%;
  text-shadow:1px 1px 0 rgba(0,0,0,.5);
  font-size:14px;
}

.led-green {
  background: url(../img/arrow-down.svg) no-repeat center top #2e7d32;
  background-size: 90%;
  text-shadow:1px 1px 0 rgba(0,0,0,.5);
}

.led-yellow {
  background:url(../img/loop.svg) no-repeat center center #fffecb;
  background-size:40%;
  padding:50px 0 0 50px;
  overflow:hidden;
}

.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
