ul {
    clear: both;
    list-style-type: none;
    text-align: left;
    margin: 0 0 50px 0;
}

footer {
  background: #5e8dc4;
}

body {
  width: 100%;
  height: 100%;
  background: #5e8dc4;
  font-family: "Helvetica Neue",Helvetica,Arial,Geneva,"Lucida Grande",sans-serif;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#hawthorne-page {
  display: none;
}

#morrison-page {
  display: none;
}

#burnside-page {
  display: none;
}

#broadway-page {
  display: none;
}

#cuevas-crossing-page {
  display: none;
}

#feed-page {
  display: none;
}

#terms-page {
  display: none;
  background: #5e8dc4;
  color: white;
  font-size: 12px;
  text-shadow: none;
  font-weight: lighter;
  margin: 20px 20px 20px 20px;
}

#arrow-button {
  display: none;
}

#menu-items {
  text-decoration: none;
  color: black;
  font-size: 24px;
  margin: 0 0 20px 0;
  text-align: left;
}

#menu-home {
  text-decoration: none;
  color: white;
  text-shadow: none;

  font-size: 24px;
  margin: 0 0 20px 0;
  text-align: left;
}

#menu-feed {
  text-decoration: none;
  color: white;
  text-shadow: none;
  font-size: 24px;
  margin: 0 0 20px 0;
  text-align: left;
}

#menu-terms {
  text-decoration: none;
  color: white;
  text-shadow: none;
  font-size: 24px;
  margin: 0 0 20px 0;
  text-align: left;
}


#bridge-window {
  padding-bottom: 5px;
  border-bottom: 4px;
  border-color: #5e8dc4;

}

#bridge-notification-banner {
  background: #5e8dc4;
  color: white;
  font-size: 35px;
  text-shadow: none;
  font-weight: lighter;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 40px;
}

.bridge-event {

}

.toggle-button {
    float: left;
    color: white;
    font: arial;
    font-size: 35px;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#feed-page {
  padding-left: 50px;
  padding-right: 50px;
}

#bridge-page {
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}

#header {
  text-align: center;
}

#banner {
  width:100%;
  height:150px;
}

#bridges {
  text-decoration: none;
  color: black;
  font-size: 24px;
  margin: 0 0 20px 0;
  text-align: left;
}

#menu {
  font-family: "Helvetica Neue",Helvetica,Arial,Geneva,"Lucida Grande",sans-serif;
  background: #2c4a6f;
  color: white;
  text-shadow: none;
  font-weight: lighter;
  text-align: center;
}

#panel {
  background: #5e8dc4;
}


.bridge-info {
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-color: #5e8dc4;
}

.bridge {
  vertical-align: middle;
  text-align: left;
  vertical-align: 50%;
  padding-left: 25px;
  display: inline-block;
  text-transform: capitalize;
  text-decoration: none;
  color: black;
  font-size: 24px;
}

.led {
    margin-top: 5px;
    margin-bottom: 5px;
    vertical-align: text-bottom;
    display: inline-block;
    margin-left: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.25);
    font-size: 12px;
    color: white;
    line-height: 4em;
    text-align: center;
    text-shadow: none;
    font-weight: lighter;
}

.content {
    position: absolute;
}

.bar-header-secondary>input {
    margin-top: 6px;
    height: 31px;
}

.table-view {
    margin: 0 !important;
    border: none;
}

.details h1 {
    padding-top: 16px;
    font-size: 18px;
}

.media-object {
    width: 42px;
    height: 42px;
    border-radius: 25px;
}

.icon-call {
    background: transparent url(images/ic_action_phone_outgoing.png);
    background-repeat: no-repeat;
}

.icon-sms {
    background: transparent url(images/ic_action_dialog.png);
    background-repeat: no-repeat;
}

.icon-mail {
    background: transparent url(images/ic_action_mail.png);
    background-repeat: no-repeat;
}

.icon-manager {
    background: transparent url(images/ic_action_user.png);
    background-repeat: no-repeat;
}

.icon-reports {
    background: transparent url(images/ic_action_users.png);
    background-repeat: no-repeat;
}

.icon-contact {
    background: transparent url(images/ic_action_add.png);
    background-repeat: no-repeat;
}

.icon-location {
    background: transparent url(images/ic_action_location.png);
    background-repeat: no-repeat;
}

/* LED styling */


.led-red {
    background-color: #F00;
}

.led-orange {
    background-color: #FF7000;
    box-shadow: #000 0 -1px 6px 1px, inset #630 0 -1px 8px, #FF7000 0 3px 11px;
}

.led-yellow {
    background-color: #FF0;
    box-shadow: #000 0 -1px 6px 1px, inset #660 0 -1px 8px, #FF0 0 3px 11px;
}

.led-green {
    background-color: #2e7d32;
}

.led-blue {
    background-color: #06F;
    box-shadow: #000 0 -1px 6px 1px, inset #006 0 -1px 8px, #06F 0 3px 11px;
}

.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
}

.slideout-panel {
  position: relative;
  z-index: 1000;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}
