.c-hamburger {
  display: inline-block;
  float: left;

  position: relative;

  overflow: hidden;
  margin: 0;
  padding: 49px 0 0 60px;
  width: 60px;
  height: 49px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-left: 0px;
  border-top: 0px;
  border-bottom: 0px;
  border-right: 1px solid #ccd7e4;
  cursor: pointer;
  transition: background-color .15s ease-in-out;
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: 22.5px;
  left: 18px;
  right: 18px;
  height: 4px;
  background: white;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  content: "";
}

.c-hamburger span::before {
  top: -12px;
}

.c-hamburger span::after {
  bottom: -12px;
}

.c-hamburger--htla {
  background-color: #346094;
}

.c-hamburger--htla span {
  transition: transform 0.15s;
}

.c-hamburger--htla span::before {
  transform-origin: top right;
  transition: transform 0.15s, width 0.15s, top 0.15s;
}

.c-hamburger--htla span::after {
  transform-origin: bottom right;
  transition: transform 0.15s, width 0.15s, bottom 0.15s;
}

/* active state, i.e. menu open */
.c-hamburger--htla.is-active {
  background-color: #2c4a6f;
}

.c-hamburger--htla.is-active span {
  transform: rotate(180deg);
}

.c-hamburger--htla.is-active span::before,
.c-hamburger--htla.is-active span::after {
  width: 50%;
}

.c-hamburger--htla.is-active span::before {
  top: 0;
  transform: translateX(16px) translateY(2px) rotate(45deg);
}

.c-hamburger--htla.is-active span::after {
  bottom: 0;
  transform: translateX(16px) translateY(-2px) rotate(-45deg);
}

/* Animate to X */

.c-hamburger--htx {
  background-color: #346094;
}

.c-hamburger--htx span {
  transition: background 0s 0.3s;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
  transition-property: top, transform;
}

.c-hamburger--htx span::after {
  transition-property: bottom, transform;
}

/* active state, i.e. menu open */
.c-hamburger--htx.is-active {
  background-color: #2c4a6f;
}

.c-hamburger--htx.is-active span {
  background: none;
}

.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s;
}
